@model IEnumerable<Crud.Models.PostVM>
@{
    ViewBag.Title = "PublicPostDisplay";
}

<h2>PublicPostDisplay</h2>

@foreach (var item in Model)
{
    <div>
        @Html.DisplayFor(modelItem => item.Heading)
    </div>
    <div>
        @Html.DisplayFor(modelItem => item.Body)
    </div>
    <div>
        <img class="img-thumbnail" width="150" height="150" src="/Img/@item.Images" />
    </div>
}
